@import "tailwindcss";
@plugin "daisyui" {
  /* themes: light --default, dark --prefersdark; */
  themes: emerald --default, forest --prefersdark;
}

/* @layer base {
  body {
    background-color: hsl(var(--b1)); 
    color: hsl(var(--bc));            
  }
} */


body {
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 1rem;
}

